<html>
<head>
    <link rel="stylesheet" href="../styles/clinicalPrint.css" media="print"/>
</head>
<body>
    <div class="print-wrapper print-patient-summary">
        <div class="print-header">
            <img ng-src="{{visitTabConfig.getPrintConfigForCurrentTab().logo}}" 
                 style="width:100%; height:auto;"/>
            <div class="clinic-info">
                <span></span>
                <span class="address">{{certificateHeader.address}}</span>
            </div>
            <div class="clinic-info">
                <span>{{visitTabConfig.getPrintConfigForCurrentTab().header}}</span>
            </div>
        </div>
        <div ng-include="currentVisitUrl"></div>
    </div>
    <div ng-if="!visitTabConfig.getPrintConfigForCurrentTab().hideProviderName" 
         class="provider-info">{{provider[0].name}}</div>

    
</body>
</html>